<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="${title}">Main Page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>

    <body class="bg-dark">
        <header th:insert="~{blocks/header}"></header>
        <nav th:insert="~{blocks/nav}"></nav>
        <main>
            <div class="d-flex gap-2 justify-content-center py-5" th:if="${pageTotal}!=0">
                <a th:href="@{/admin}">
                    <button class="btn btn-outline-secondary d-inline-flex align-items-center" type="button" th:text="Вернуться">
                        button
                        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"></use></svg>
                    </button>
                </a>
            </div>
            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h2>Работа с новостями</h2>
                                <hr>
                            </div>
                            <div>
                                <form th:method="POST" th:action="@{/admin/news/add}" th:object="${news}" enctype="multipart/form-data">
                                    <label for="file">Изображение: </label><br>
                                    <input type="file" accept="image/png" id="file" name="file"><br>

                                    <label for="name">Название новости: </label><br>
                                    <input type="text" id="name" th:field="*{name}">
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Name error</span><br>

                                    <label for="annotation">Короткая аннотация: </label><br>
                                    <input type="text" id="annotation" th:field="*{annotation}">
                                    <span th:if="${#fields.hasErrors('annotation')}" th:errors="*{annotation}" style="color: red">Annotation error</span><br>

                                    <label for="content">Содержание: </label><br>
                                    <textarea id="content" cols="40" rows="20" th:field="*{content}"/>
                                    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" style="color: red">Content error</span><br><br>

                                    <input type="submit" value="Подтвердить">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:insert="~{blocks/footer}"></footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>