<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="${title}">Main Page</title>
  </head>

  <body>
    <header th:insert="~{blocks/header}"></header>
    <nav th:insert="~{blocks/nav}"></nav>
    <main>
      <h2>Меню Бара</h2>
      <div th:each="cat : ${categories}" th:if="${cat.getId()} == 1">
        <div th:if="${auth}">
          <hr>
          <a th:href="@{/catalog/menu/{menuNumber}(menuNumber=${cat.getId()})}">
            <img th:src="'data:image/png;base64,' + ${cat.getImage()}" width="10%" height="10%"/>
            <p th:text="${cat.getName()}"></p>
            <p th:text="${cat.getDescription()}"></p>
          </a>
          <hr>
        </div>
      </div>
      <div th:each="category : ${categories}" th:if="${category.getId()} != 1">
        <hr>
        <a th:href="@{/catalog/menu/{menuNumber}(menuNumber=${category.getId()})}">
          <img th:src="'data:image/png;base64,' + ${category.getImage()}" width="10%" height="10%"/>
          <p th:text="${category.getName()}"></p>
          <p th:text="${category.getDescription()}"></p>
        </a>
        <hr>
      </div>
    </main>
    <footer th:insert="~{blocks/footer}"></footer>
  </body>
</html>