<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">Main Page</title>
    </head>

    <body>
        <header th:insert="~{blocks/header}"></header>
        <nav th:insert="~{blocks/nav}"></nav>
        <main>
            <hr>
            <a th:href="@{/catalog/menu/list/{pageNumber}(pageNumber=${lastPage})}">Вернуться</a><br>
            <a th:href="@{/catalog/product/edit/{id}(id=${product.getId()})}" th:if="${auth}">Редактировать</a>
            <a th:href="@{/catalog/product/delete/{id}(id=${product.getId()})}" th:if="${auth}">Удалить</a>
            <hr>
            <div>
                <img th:src="'data:image/png;base64,' + ${product.getImage()}" width="300px" height="300px"/>
                <h2 th:text="${product.getName()}"></h2>
                <p th:text="${product.getDescription()}"></p>
                <br>
                <hr>
                <p th:text="'Цена: ' + ${product.getCoast()}"></p>
                <hr>
            </div>
        </main>
        <footer th:insert="~{blocks/footer}"></footer>
    </body>
</html>