<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="${title}">Main Page</title>
  </head>

  <body>
    <header th:insert="~{blocks/header}"></header>
    <nav th:insert="~{blocks/nav}"></nav>
    <main>
      <b>
        <p>Бар Стоп кран</p>
        <p>Новотушинский пр., 8к1</p>
        <p>◾24 крана классики, крафта и импорта</p>
        <p>◾ламповая атмосфера</p>
        <p>◾место для друзей и их друзей</p>
        <p>Тот самый бар "на районе", куда приходишь, как к себе домой</p>
      </b>
      <br>
      <hr>
    </main>
    <footer th:insert="~{blocks/footer}"></footer>
  </body>
</html>